Websocket messages truncated to 4k



### Do you want to request a *feature* or report a *bug*?

Bug

### Did you try using a 1.7.x configuration for the version 2.0?

- [ ] Yes
- [x] No


### What did you do?

I'm using Traefik as Ingress reverse proxy for Kubernetes and having services which can pass websocket messages up 128kB. Unfortunately Traefik use defaults for buffer size from gorilla, which just 4kB. 
This issue was reported almost 1y ago with #3538, but closed without any attention, because robots told so. Odd approach, btw.

### What did you expect to see?

Complete messages I'm sending. The same behaviour as with direct connection.

### What did you see instead?

Messages truncated to 4kB

### Output of `traefik version`: (_What version of Traefik are you using?_)

V1.7.12 / MAROILLES
```yaml
kind: Pod
apiVersion: v1
metadata:
  name: tfkx-traefik-78fcc4648c-w6knx
  generateName: tfkx-traefik-78fcc4648c-
  namespace: kube-system
  selfLink: /api/v1/namespaces/kube-system/pods/tfkx-traefik-78fcc4648c-w6knx
  uid: 0c9ac624-8581-11e9-b8d2-18a90541cca4
  resourceVersion: '5235258'
  creationTimestamp: '2019-06-02T21:54:52Z'
  labels:
    app: traefik
    chart: traefik-1.68.4
    heritage: Tiller
    pod-template-hash: 78fcc4648c
    release: tfkx
  annotations:
    checksum/config: bf439cdb5935a10942557cbbebeb8379348575cbc07f0587cfc09ff3642dc6dc
  ownerReferences:
    - apiVersion: apps/v1
      kind: ReplicaSet
      name: tfkx-traefik-78fcc4648c
      uid: 0c940594-8581-11e9-b8d2-18a90541cca4
      controller: true
      blockOwnerDeletion: true
spec:
  volumes:
    - name: config
      configMap:
        name: tfkx-traefik
        defaultMode: 420
    - name: ssl
      secret:
        secretName: tfkx-traefik-default-cert
        defaultMode: 420
    - name: acme
      persistentVolumeClaim:
        claimName: traefik-acme
    - name: tfkx-traefik-token-bzcqf
      secret:
        secretName: tfkx-traefik-token-bzcqf
        defaultMode: 420
  containers:
    - name: tfkx-traefik
      image: 'traefik:latest'
      args:
        - '--configfile=/config/traefik.toml'
      ports:
        - name: http
          containerPort: 80
          protocol: TCP
        - name: httpn
          containerPort: 8880
          protocol: TCP
        - name: https
          containerPort: 443
          protocol: TCP
        - name: dash
          containerPort: 8080
          protocol: TCP
      resources: {}
      volumeMounts:
        - name: config
          mountPath: /config
        - name: ssl
          mountPath: /ssl
        - name: acme
          mountPath: /acme
        - name: tfkx-traefik-token-bzcqf
          readOnly: true
          mountPath: /var/run/secrets/kubernetes.io/serviceaccount
      livenessProbe:
        tcpSocket:
          port: 80
        initialDelaySeconds: 10
        timeoutSeconds: 2
        periodSeconds: 10
        successThreshold: 1
        failureThreshold: 3
      readinessProbe:
        tcpSocket:
          port: 80
        initialDelaySeconds: 10
        timeoutSeconds: 2
        periodSeconds: 10
        successThreshold: 1
        failureThreshold: 1
      terminationMessagePath: /dev/termination-log
      terminationMessagePolicy: File
      imagePullPolicy: Always
  restartPolicy: Always
  terminationGracePeriodSeconds: 60
  dnsPolicy: ClusterFirst
  serviceAccountName: tfkx-traefik
  serviceAccount: tfkx-traefik
  nodeName: sloth
  securityContext: {}
  schedulerName: default-scheduler
  tolerations:
    - key: node.kubernetes.io/not-ready
      operator: Exists
      effect: NoExecute
      tolerationSeconds: 300
    - key: node.kubernetes.io/unreachable
      operator: Exists
      effect: NoExecute
      tolerationSeconds: 300
  priority: 0
  enableServiceLinks: true
status:
  phase: Running
  conditions:
    - type: Initialized
      status: 'True'
      lastProbeTime: null
      lastTransitionTime: '2019-06-02T21:54:52Z'
    - type: Ready
      status: 'True'
      lastProbeTime: null
      lastTransitionTime: '2019-07-10T06:29:49Z'
    - type: ContainersReady
      status: 'True'
      lastProbeTime: null
      lastTransitionTime: '2019-07-10T06:29:49Z'
    - type: PodScheduled
      status: 'True'
      lastProbeTime: null
      lastTransitionTime: '2019-06-02T21:54:52Z'
  hostIP: XXX.XXX.XXX.XXX
  podIP: 10.1.1.14
  startTime: '2019-06-02T21:54:52Z'
  containerStatuses:
    - name: tfkx-traefik
      state:
        running:
          startedAt: '2019-07-10T06:29:25Z'
      lastState:
        terminated:
          exitCode: 255
          reason: Unknown
          startedAt: '2019-07-07T09:56:41Z'
          finishedAt: '2019-07-10T06:26:07Z'
          containerID: >-
            containerd://b52ebaa10ef052bb4d635520da2d1d69918bf123c932ce8c83874543ec372368
      ready: true
      restartCount: 12
      image: 'docker.io/library/traefik:latest'
      imageID: >-
        docker.io/library/traefik@sha256:02cfdb77b0cd82d973dffb3dafe498283f82399bd75b335797d7f0fe3ebeccb8
      containerID: >-
        containerd://87dbe1465177447846c5a4f301e3469608c85d0218a1d3b94aade55dac1a508a
  qosClass: BestEffort
```

### What is your environment & configuration (arguments, toml, provider, platform, ...)?

Frontend / backends configured via usual k8s annotations... just simple hostname rules.
Deployment with default HELM chart.

### If applicable, please paste the log output in DEBUG level (`--log.level=DEBUG` switch)

```
3934135 [gremlin-server-worker-4] WARN  org.apache.tinkerpop.gremlin.driver.ser.AbstractGraphSONMessageSerializerV2d0  - Request [PooledUnsafeDirectByteBuf(ridx: 4062, widx: 4062, cap: 4096)] could not be deserialized by org.apache.tinkerpop.gremlin.driver.ser.AbstractGraphSONMessageSerializerV2d0.
org.apache.tinkerpop.shaded.jackson.core.io.JsonEOFException: Unexpected end-of-input in VALUE_STRING
```


Hello @nudzo,

From the gorilla/websocket documentation (https://godoc.org/github.com/gorilla/websocket#hdr-Buffers):

>Write buffers are also used for constructing WebSocket frames. See RFC 6455, Section 5 for a discussion of message framing. A WebSocket frame header is written to the network each time a write buffer is flushed to the network. Decreasing the size of the write buffer can increase the amount of framing overhead on the connection.

>The buffer sizes in bytes are specified by the ReadBufferSize and WriteBufferSize fields in the Dialer and Upgrader. The Dialer uses a default size of 4096 when a buffer size field is set to zero. The Upgrader reuses buffers created by the HTTP server when a buffer size field is set to zero. The HTTP server buffers have a size of 4096 at the time of this writing.

>The buffer sizes do not limit the size of a message that can be read or written by a connection.

There is nothing that prevents the connection from sending the entirety of the message.

Is it possible that your application is not capable of handling fragmented messages properly?

Could you provide a reproducible case (preferably via docker compose) where this issue is demonstrated?

There's Netty base service. Seems like Netty fixed this 6y ago: https://github.com/netty/netty/pull/1207 for 4.0.0 milestone. I have 4.1.32. I'm about to check nginx Ingress too. Port forwarded service works OK. Client is .Net app. I'll do further checks and will update.

Hi @nudzo , could you give us a reproductible case please? Because if there is really an issue, we must be able to track it and validate any change. Thanks!

Hi! I'm Træfiker :robot: the bot in charge of tidying up the issues.

I have to close this one because of its lack of activity :disappointed:

Feel free to re-open it or join our [Community Forum](https://community.containo.us/).
  